.cajaUno img{
    position: absolute;
    width: 146px;
    height: 109px;
    left: -20px;
    filter: drop-shadow(0px 4px 4px rgba(222, 222, 222, 0.66));
}
.cajaDos img{
    position: absolute;
    width: 159px;
    height: 123px;
    top: -30px;
    left: -10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.17));
}
.cajaTres img{
    position: absolute;
    width: 172px;
    height: 70px;
    left: -2.5rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.17));
}
.cajaCuatro img{
    position: absolute;
    width: 120px;
    height: 119px;
    top: -1.5rem;
    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.17));
}
.cajaCuatro h1{
    margin: 0px;
    margin-left: 1.5rem;
}