.From_1{
    width:  37.5rem;
    margin: auto;
    height: 750px;
}
.fondo_covid{
    width: 100%;
    height: 22.7rem;
    margin: auto;
    position: relative;
}
.img_covid_2{
    width: 100%;
    height: 22.7rem;
}
.fondo_covid:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(89.92deg, rgba(74, 80, 203, 0.7) 0.08%, rgba(249, 137, 124, 0.7) 99.95%);
}
.nombre_1{
    width: 25.5rem;
    height: 5.8rem;
    position: absolute;
    margin-left:7rem;
    margin-top:-14rem ;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 100px;
}
.nombre_1 p{
    text-align: center;
    font-size: var(--subtitulo);
    padding-top: 1rem;
    color: #FFFFFF;
}
/*Cuadros de preguntas */
.Primero_test{
    width: 37.5rem;
    height: 55rem;
    position:absolute;
    background-color:#FFFFFF;
    margin-top: -5rem;
    border-radius: 50px 50px 0px 0px;
}
.primero_1{
    width: 30rem;
    height: 8.4rem;
    margin-top: 3.5rem;
    margin-left: 2.5rem;
    position: absolute;
    font-size: var(--subtitulo);
    color: #6D6D6D;
}
.test_cuadro_1{
    width: 100%;
    margin-top:15rem ;
    position: absolute;
    display: flex;
    flex-direction: column;
}
.Cuadro_calor,.Cuadro_calectura,.Cuadro_escoson,.Cuadro_niguno_1{
    width: 32rem;
    height: 4.2rem;   
    margin: auto;
    border: 1px solid #828282;
    box-sizing: border-box;
    margin-bottom: 3rem;
    padding-top: 0.5rem;
    border-radius: 100px;
    text-align: center;
    font-size: var(--subtitulo);
}
.boton_siguiente{
    width: 17rem;
    height: 4.4rem;
    margin-top: 45rem;
    position: absolute;
    background: #F9897C;
    border-radius: 100px;
    margin-left: 10rem;
    cursor: pointer;
    outline: none;
    border: none;

}
.boton_siguiente p{
    font-size: var(--parrafp);
    color: #FFFFFF;

}
.Cuadro_escoson h1{
    font-size: 20px;
    font-weight: normal;
}